only-built-dependencies[]=esbuild
only-built-dependencies[]=tree-sitter
only-built-dependencies[]=tree-sitter-javascript
only-built-dependencies[]=tree-sitter-typescript
only-built-dependencies[]=tree-sitter-python
